@import "tailwindcss";


html{
  scroll-behavior: smooth;
}


body {
  background: var(--background);
  color: var(--foreground); 
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.primary{
  background-color:  #005085;
  color: white;
  border-color: #e5e4e4;
}

.layout-bg{
  background-color: #f4f5f4;

}
.text-secondary{
  color: #6b7280;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}

.sub-heading{
  font-size: 1rem;
  font-weight: 700;
  

}

