@import "tailwindcss";





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.primary{
  background-color:  #005085;
  color: white;
  border-color: #e5e4e4;
}

.layout{
  background-color: #fcfcfc;
}
.text-secondary{
  color: #6b7280;
}

.heading{
  font-size: 2rem;
  font-weight: bold;
}

